{
  "rules": {
      "no-unused-vars":"error",
      "no-trailing-spaces": "error",
      "no-console": 0,
      "indent": 2,
      "quotes": [
          2,
          "single"
      ],
      "linebreak-style": [
          2,
          "unix"
      ]
  },
  "env": {
      "es6": true,
      "node": true
  },
  "extends": "eslint:recommended"
}
